<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>You've reached the new car page!</p>
    <form action="/cars" method="post">
      <label>Make:
        <input type="text" name="make" value=<%= data["make"] %>>
      </label>
      <label>Model:
        <input type="text" name="model" value=<%= data["model"] %>>
      </label>
      <label>Year:
        <input type="number" name="year" value=<%= data["year"] %>>
      </label>
      <label>Description:
        <input type="text" name="description" value=<%= data["description"] %>>
      </label>
      <input type="submit" value="Add car">
    </form>
    <a href="/cars">Show all cars</a>
  </body>
</html>
